body {
    background-color: rgb(255, 249, 240);
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: black;
}
p a {
    color: black;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
}
h3 a {
    color: black;
    font-size: medium;
}
