body {
    background-image: url(images/cottonbro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #596e79;
}
div {
    border: 10px;
    border-color:  #dfd8c8;
    border-style: solid;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 5% 10%;
}
h1 {
    font-size: 3.7rem;
}
h2 {
    font-size: 1.8rem;
    padding-bottom: 40px;
}
a:link, a:visited {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #596e79;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 15px;
    transition: 1s;
}
a:hover {
    font-size: 30px;
    text-decoration: none;
    color: #dfd8c8;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color:#596e79;
    border-radius: 6px;
    border-style: solid;
    padding: 15px;
}
a:active {
    font-size: 20px;
    text-decoration: none;
    color: #596e79;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 15px;
}